* {
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-image: url(./hero-bg.jpg);
  }
  
  .nav ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    font-size: 32px;
    font-weight: 1000;
    color: white;
  
  }
  
  .nav {
    /* background-color: antiquewhite; */
    height: 70px;
    width: 100%;
    position: fixed;
  
  }
  
  .nav li:hover {
    color: blue;
  }
  
  .img img {
    height: 400px;
    width: auto;
    float: right;
  }
  
  .img {
    display: flex;
  }
  
  .main {
    padding-top: 70px;
    display: flex;
    width: 100%;
  }
  
  .main .text {
    width: 100%;
    font-size: 36px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
  }
  
  .lefttxt {
    width: 100%;
    font-size: 36px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
  
  }
  
  .main2 {
    display: flex;
    background-color: rgba(20, 89, 207, 0.512);
    border-radius: 15px;
  }
  
  .main2 img {
    height: 400px;
  }
  
  .contact p {
    text-align: center;
    color: white;
    font-size: 50px;
  }
  
  .contact-input {
    height: 50px;
    display: flex;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 24px;
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
  
  }
  
  .contact {
    padding: 20px;
    text-align: center;
  
  }
  
  .btn-submit {
    height: 100px;
    width: 200px;
    color: rgb(225, 222, 218);
    background-color: rgb(19, 7, 10);
    margin-top: 20px;
    font-size: 25px;
  }
  
  .about-me {
    background-image: url(./about-banner.jpg);
    background-size: cover;
    /* font-size: 50px; */
    font-size: 3vw;
    padding: 20px;
    height: 1000px;
    padding-left: 50%;
    padding-top: 50px;
    border-radius: 15px;
  }
  
  .about-me p {
    color: cornsilk;
  
  }
  
  .mainmain {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  img {
    border-radius: 15px;
  }